/* Register.css */

.signup-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(270deg, #dbc8dd, #37003c);
    background-size: 400% 400%;
    animation: gradient-animation 15s ease infinite;
  }
  
  .signup-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%; /* Adjust width of signup container */
    max-width: 400px; /* Maximum width of the signup container */
  }
  
  .signup-heading {
    margin-bottom: 10px;
    font-size: 24px;
    color: #37003c;
  }
  
  .signup-error {
    color: red;
    font-size: 14px;
  }
  
  .signup-form {
    display: flex;
    flex-direction: column;
  }
  
  .signup-label {
    margin-bottom: 15px;
    color: #555;
  }
  
  .signup-input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 2px solid #312132;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .signup-button {
    padding: 10px;
    background-color: transparent; 
    color: #312132; /* Text color */
    border: 2px solid #312132;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .signup-button:hover {
    background-color: #312132; 
    color: white; 
  }
  
  .login-link {
    margin-top: 10px;
    text-align: center;
  }
  
  .login-link p {
    color: #555;
    font-size: 14px;
  }
  
  .login-link a {
    color: #312132;
    text-decoration: none;
    font-weight: bold;
  }
  
  .login-link a:hover {
    text-decoration: underline;
  }
  